<div class="container mt-4" *ngIf="exercises as listExercices">
  <h1>{{routine.name}}</h1>
  <div class="card mb-2"><div class="card-body">{{routine.description}}</div></div>

  <br>

  <div class="d-flex">
    <h3>{{listExercices.length}} Exercice{{listExercices.length > 1 ? "s" : ""}}</h3>
    <div>
      <button class="btn btn-primary" routerLink="/exercises/{{routine.id}}/edit"><i class="fa-solid fa-plus"></i></button>
    </div>
  </div>
  <ul class="list-group">
    <app-exercises-item
      *ngFor="let exercise of listExercices"
      [exercise]="exercise"
      class="list-group-item list-group-item-action"/>
  </ul>
</div>

