<div *ngIf="statusFilter=='all' || routine.status==status.ACTIVE && statusFilter =='active' || routine.status==status.INACTIVE && statusFilter =='inactive'" class="accordion-item" [ngClass]="{'bg-warning' : routine.status == status.INACTIVE,
                  'bg-success' : routine.status == status.ACTIVE}">
  <h2 class="accordion-header" id="flush-headingOne">
    <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#routine' + routine.id" aria-expanded="false" aria-controls="flush-collapseOne">
      {{ routine.name }}
    </button>
  </h2>
  <div [id]="'routine'+routine.id" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <button class="btn btn-secondary mx-1" (click)="onActivate()">
          <i *ngIf="routine.status == status.INACTIVE" class="fa-regular fa-square"></i>
          <i *ngIf="routine.status == status.ACTIVE" class="fa-regular fa-check-square"></i>
        </button>
          {{ routine.description }}

        </div>

        <div class="d-flex justify-content-end">
          <button class="btn btn-primary mx-1" routerLink="exercises/{{routine.id}}"><i class="fa-solid fa-eye"></i></button>

          <button class="btn btn-primary mx-1" routerLink="routines/edit/{{routine.id}}"><i class="fa-solid fa-pen-to-square"></i></button>
          <button class="btn btn-danger mx-1" (click)="deleteRoutine()"><i class="fa-solid fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
