<div class="container mt-4">
  <form #formulaire="ngForm" (ngSubmit)="onSubmit(formulaire)">
    <div class="mb-3">
      <label for="name" class="form-label">Nom</label>
      <input [(ngModel)]="exercise.name" list="datalistOptions" required ngModel name="name" id="name" class="form-control form-control-lg" type="text" placeholder="Exercice">
      <datalist id="datalistOptions" class="h">
        <option *ngFor="let type of exercisesTypes" [value]="type.name">
      </datalist>
    </div>
    <div class="mb-3">
      <label for="reps" class="form-label">Répétitions</label>
      <input [(ngModel)]="exercise.repetitions"required ngModel name="reps" id="reps" class="form-control form-control-lg" type="text" placeholder="0">
    </div>
    <div class="mb-3">
      <label for="weight" class="form-label">Poids (kg)</label>
      <input [(ngModel)]="exercise.weight" ngModel name="weight" id="weight" class="form-control form-control-lg" type="text" placeholder="0">
    </div>
    <div class="d-flex btn-group">
      <button type="submit" class="btn btn-primary" [disabled]="!formulaire.valid">{{exercise.id==0 ? "Créer l’exercice": "Modifier l’exercice"}}</button>
      <a [routerLink]="'/exercises/'+activatedRoute.snapshot.params['routeId']" class="btn btn-danger">Annuler</a>
    </div>
  </form>
</div>
